.showDetailCoverer {
  width: 700px;
  height: 500px;
  background-color: #ffffff;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  position: relative;
}

.imageAndName {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.showName {
  font-size: 18px;
}

.showDetails {
  width: 370px;
}

.genres {
  display: flex;
  margin-top: 15px;
}

.detail {
  margin-bottom: 15px;
}

.backButton {
  background-color: #0075f2;
  border: none;
  width: 125px;
  height: 40px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}
